HOST = "localhost"
PORT = 8000
HTTPS = True

OPRP_PATH = '~/projects/oictest/test/oic_op/rp/oprp2.py'

DYNAMIC_CLIENT_REGISTRATION_PORT_RANGE_MIN = 8001
DYNAMIC_CLIENT_REGISTRATION_PORT_RANGE_MAX = 8500

STATIC_CLIENT_REGISTRATION_PORT_RANGE_MIN = 8501
STATIC_CLIENT_REGISTRATION_PORT_RANGE_MAX = 9000

if HTTPS:
    BASE = "https://%s:%d/" % (HOST, PORT)
else:
    BASE = "http://%s:%d/" % (HOST, PORT)

# If BASE is https these has to be specified
SERVER_CERT = "certs/server.crt"
SERVER_KEY = "certs/server.key"
CA_BUNDLE = None

PORT_DATABASE_FILE = "./static_ports.db"

OPRP_DIR_PATH = '../rp/'

OPRP_SSL_MODULE = "sslconf"

OPRP_TEST_FLOW = "tflow"

CONFIG_MAX_NUMBER_OF_CHARS_ALLOWED = 10000