*.pyc
*.~
\#*
.*~
*.egg-info
example/*/*.log
example/*.db
example/*/*.db
tests/*.db
tests/*.log
build/
dist/
example/sp/identities
test/oic_op/export
subject.db
.idea
.project
.pydevproject
.DS_store
.gitignore
debug_*
*.log
*.out
tmp*
*.tmp
*.log.*
*.db
*egg-info*
.coverage
*.tmpl

