
#infoIcon{
    opacity: 0.40;
    font-size: 50px;
}

.headline {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 2.1428571435;
    color: #000000;

    background-color: #F2F2F2;

    border:1px solid;
    border-color:#CFCFCF;
    border-radius:5px;
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: #000000;

    background-color: #eeeeee;
    opacity:1.00;
    filter:alpha(opacity=100); /* For IE8 and earlier */

}

.container .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
    border:2px solid;
    border-color:#CFCFCF;
}